@import '../../../../styles/mixins/responsive.scss';

@import '../../../../styles/functions/layout.scss';

.wrapper {
    @apply w-full;

    &.isVisible {
        .content {
            @apply opacity-100 transform-gpu translate-y-0 transition-transform-opacity ease-in-out duration-700;
        }
    }

    // Background
    &.white {
        @apply bg-white;
    }

    &.black {
        @apply bg-black;
    }

    // Horizontal spacing
    &.base,
    &.offset {
        @apply px-4;
        @apply tablet:px-10;
        @apply desktop:px-12;
    }

    &.offset {
        @include from-desktop {
            .content {
                padding-left: offsetWidth(1);
                padding-right: offsetWidth(1);
            }
        }
    }

    // Vertical spacing
    &.top-large {
        @apply pt-8;
        @apply desktop:pt-16;
    }

    &.bottom-large {
        @apply pb-8;
        @apply desktop:pb-16;
    }

    &.top-small {
        @apply pt-4;
        @apply desktop:pt-8;
    }

    &.bottom-small {
        @apply pb-4;
        @apply desktop:pb-8;
    }
}

.inner {
    @apply w-full;
}

.content {
    @apply w-full opacity-0 transform-gpu translate-y-4 will-change-fade-in;
}
