PORT=8080
NODE_ENV=development
NODE_NO_WARNINGS=1
NODE_TLS_REJECT_UNAUTHORIZED='0'
ANALYZE=false

BASE_PATH=http://localhost:3000
NEXT_PUBLIC_BASE_PATH=http://localhost:3000
NEXT_PUBLIC_API_BASE_PATH=http://localhost:1337

PREVIEW_SECRET=YOURSECRET
REVALIDATE_SECRET=YOURSECRET

# Cache system logs (cache / revalidate / fetch)
# NEXT_PUBLIC_ALLOW_CACHE_LOGS="1"
# NEXT_PUBLIC_ALLOW_REVALIDATE_LOGS="1"
# NEXT_PUBLIC_ALLOW_FETCH_LOGS="1"

# SECRET_COOKIE_PASSWORD=
# SMTP=

# Elastic
# ELASTIC_URL=
# ELASTIC_API_KEY_ID=
# ELASTIC_API_KEY=

# Cloudinary
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# Croct
# NEXT_PUBLIC_CROCT_APP_ID=00000000-0000-0000-0000-000000000000
# CROCT_API_KEY=your-croct-api-key
# NEXT_PUBLIC_CROCT_DEBUG=true
# NEXT_PUBLIC_CROCT_DEFAULT_PREFERRED_LOCALE=cs

# Locale
API_BASE_PATH=http://localhost:1337
API_ENDPOINT=http://localhost:1337/graphql
# API_TOKEN=

# Test
# API_BASE_PATH=https://admin-progresus.symbio.agency
# API_ENDPOINT=https://admin-progresus.symbio.agency/graphql
# API_TOKEN=