@import 'tailwindcss';
@import '../styles/variables.css';
@import '../styles/theme.css';
@import '../styles/layout.css';

@layer base {
    html {
        @apply scroll-smooth;
    }

    html,
    body {
        @apply text-black font-primary bg-white;
        font-size: 100%;
    }

    @media (width >= 120rem) {
        html,
        body {
            font-size: 0.8333333333vw;
        }
    }

    img {
        width: 100%;
    }
}

.hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
