.wrapper {
    //
}

.label {
    @apply text-14 text-black mb-1;

    span {
        @apply text-red;
    }
}

.inner {
    @apply flex;
}

.textarea {
    @apply w-full bg-transparent border border-black/40 px-6 py-3 outline-none rounded-xl text-16 leading-1_5 text-black;

    &::placeholder {
        @apply text-black/60;
    }

    &:focus {
        //
    }

    &:disabled {
        @apply opacity-60 cursor-not-allowed;
    }
}

.error {
    @apply text-red text-14 text-left mt-1;
}
