@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins/responsive.scss';

:root {
    // Grid
    --grid-mobile-columns: 4;
    --grid-tablet-columns: 12;

    --grid-gap-mobile: 0.75rem;
    --grid-gap-tablet: 1rem;
    --grid-gap-desktop: 3rem;

    --grid-columns: var(--grid-mobile-columns);
    --grid-column: calc(
        (100% - ((var(--grid-mobile-columns) - 1) * var(--grid-gap-mobile))) / var(--grid-mobile-columns)
    );
    --grid-gap: var(--grid-gap-mobile);

    @include from-tablet {
        --grid-columns: var(--grid-tablet-columns);
        --grid-column: calc(
            (100% - ((var(--grid-tablet-columns) - 1) * var(--grid-gap-tablet))) / var(--grid-tablet-columns)
        );
        --grid-gap: var(--grid-gap-tablet);
    }
    @include from-desktop {
        --grid-column: calc(
            (100% - ((var(--grid-tablet-columns) - 1) * var(--grid-gap-desktop))) / var(--grid-tablet-columns)
        );
        --grid-gap: var(--grid-gap-desktop);
    }
}

html {
    scroll-behavior: smooth;
}

html,
body {
    @apply text-black font-primary bg-white;

    font-size: 100%;

    @include fullhd {
        font-size: 0.8333333333vw;
    }
}

img {
    width: 100%;
}

.hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

// Cookiebot banner styles

/*
a#CybotCookiebotDialogPoweredbyCybot,
div#CybotCookiebotDialogPoweredByText {
    display: none;
}

#CybotCookiebotDialog,
#CybotCookiebotDialogBodyContentTitle,
#CybotCookiebotDialogDetailBodyContentCookieContainerHeader,
.CybotCookiebotDialogDetailBodyContentCookieContainerButton,
.CybotCookiebotDialogDetailBodyContentIABv2Tab {
    @apply font-secondary #{!important};
}

#CybotCookiebotDialogBodyContentText,
#CybotCookiebotDialogDetailBodyContentTextAbout,
.CybotCookiebotDialogDetailBodyContentCookieTypeIntro,
#CybotCookiebotDialogDetailFooter,
.CookieCard,
#CybotCookiebotDialogDetailBodyContentIABv2Tabs {
    @apply font-secondary #{!important};
    
    h2 {
        @apply font-secondary #{!important};
    }
}

#CybotCookiebotDialogBodyButtonsWrapper,
#CybotCookiebotDialogBodyFieldsetInnerContainer,
#CybotCookiebotDialogNav {
    @apply font-secondary #{!important};
}

#CookiebotWidget {
    .CookiebotWidget-body {
        .CookiebotWidget-body-inner {
            .CookiebotWidget-main-logo {
                display: none;
            }
        }
    }
}
#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSliderWrapper {
    width: 52px !important;
    height: 25px !important;
}

#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSlider:before {
    height: 18px !important;
    width: 18px !important;
}

#CybotCookiebotDialog {
    max-height: calc(50% + 100px) !important;
    max-width: calc(100% - 50px) !important;
    @apply tablet:max-w-[900px] #{!important};
}

#CookiebotWidget-buttons {
    @apply font-secondary #{!important};
}

#CybotCookiebotDialogPoweredbyLink {
    width: 75% !important;
}

.CybotCookiebotDialogBodyLevelButtonDescription {
    @apply font-secondary #{!important};
}

#CybotCookiebotDialogBodyEdgeMoreDetailsLink {
    @apply font-secondary #{!important};
}
*/
