@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins/responsive.scss';
@import './typography.scss';

:root {
    // Colors
    --black: #141414;
    --white: #ffffff;
    --grey: #ececec;

    // Grid
    --grid-mobile-columns: 4;
    --grid-tablet-columns: 12;

    --grid-gap-mobile: 0.75rem;
    --grid-gap-tablet: 1rem;
    --grid-gap-desktop: 3rem;

    --grid-columns: var(--grid-mobile-columns);
    --grid-column: calc(
        (100% - ((var(--grid-mobile-columns) - 1) * var(--grid-gap-mobile))) / var(--grid-mobile-columns)
    );
    --grid-gap: var(--grid-gap-mobile);

    @include from-tablet {
        --grid-columns: var(--grid-tablet-columns);
        --grid-column: calc(
            (100% - ((var(--grid-tablet-columns) - 1) * var(--grid-gap-tablet))) / var(--grid-tablet-columns)
        );
        --grid-gap: var(--grid-gap-tablet);
    }
    @include from-desktop {
        --grid-column: calc(
            (100% - ((var(--grid-tablet-columns) - 1) * var(--grid-gap-desktop))) / var(--grid-tablet-columns)
        );
        --grid-gap: var(--grid-gap-desktop);
    }
}

html {
    scroll-behavior: smooth;
}

html,
body {
    @apply text-black font-primary bg-white;

    font-size: 100%;

    @include fullhd {
        font-size: 0.8333333333vw;
    }
}

img {
    width: 100%;
}

.hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.withoutTopOffset {
    padding-top: 0 !important;
}

.withoutBottomOffset {
    padding-bottom: 0 !important;
}
