@layer base {
    /* Poppins - 400 */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src:
            local(''),
            url('/fonts/Poppins/truetype/Poppins-Regular.ttf') format('truetype');
        font-display: fallback;
    }

    /* Poppins - 400 - italic */
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src:
            local(''),
            url('/fonts/Poppins/truetype/Poppins-Italic.ttf') format('truetype');
        font-display: fallback;
    }

    /* Poppins - 700 */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src:
            local(''),
            url('/fonts/Poppins/truetype/Poppins-Bold.ttf') format('truetype');
        font-display: fallback;
    }

    /* Poppins - 700 - italic */
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        src:
            local(''),
            url('/fonts/Poppins/truetype/Poppins-BoldItalic.ttf') format('truetype');
        font-display: fallback;
    }
}
