.wrapper {
    @apply block whitespace-pre-line leading-1_5;

    // Colors
    /*
    &.--- {
        //
    }
    */

    // Weight
    /*
    &.--- {
        //
    }
    */

    // Size
    /*
    &.--- {
        //
    }
    */
}
