.wrapper {
    @apply w-full h-full fixed z-100 pointer-events-none inset-0 py-0 hidden;

    //@apply px-4.5;
    //@apply tablet:px-10;
    //@apply desktop:px-27;

    &.show {
        @apply block;
    }
}

.inner {
    @apply w-full h-full mx-auto grid;

    //@apply desktop:max-w-306;

    grid-gap: 0 var(--grid-gap);
    grid-template-columns: repeat(auto-fill, var(--grid-column));
    grid-template-rows: 1fr;
}

.column {
    @apply w-full border-x border-red border-opacity-30;
    @apply tablet:border-0 tablet:bg-red tablet:bg-opacity-10;
}