@import '../../../styles/mixins/hover.scss';

.wrapper {
    @apply w-fit block cursor-pointer font-bold relative overflow-hidden transition-colors ease-in-out duration-300;
    @apply text-sm p-4;

    backface-visibility: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &::after {
        content: '';
        @apply w-full h-full absolute left-0 -bottom-full z-1 transition-transform ease-in-out duration-300;
    }

    @include hover {
        &:hover::after {
            @apply transform -translate-y-full;
        }
    }

    &.primary {
        @apply text-white bg-darkGrey;

        &::after {
            @apply bg-black;
        }
    }

    &.secondary {
        @apply text-black bg-white border-2 border-black;

        &::after {
            @apply bg-black;
        }

        @include hover {
            &:hover {
                @apply text-white;
            }
        }
    }

    &.secondary-blue {
        @apply text-primary bg-white;

        &::after {
            @apply bg-primary;
        }

        @include hover {
            &:hover {
                @apply text-white;
            }
        }
    }

    &.loading {
        .content {
            @apply opacity-0;
        }

        .loader {
            @apply block;
        }
    }

    &.stretchOnMobile {
        @apply w-full tablet:w-fit;
    }
}

.content {
    @apply w-full h-full flex items-center justify-center relative;

    & > * {
        @apply relative z-3;
    }
}

.loader {
    @apply w-6 h-6 absolute z-4 hidden;
    animation: spin 1s linear infinite;
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
