.wrapper {
    @apply w-fit;
}

.content {
    @apply w-fit flex items-start cursor-pointer;

    &.checked {
        .column {
            @apply bg-black border-black;

            .icon {
                @apply opacity-100;
            }
        }
    }

    &.disabled {
        @apply cursor-not-allowed;

        .column {
            @apply bg-grey border-grey;
        }

        &.checked {
            .column {
                @apply bg-black border-black;
            }
        }
    }

    .column {
        @apply w-6 h-6 flex items-center justify-center border border-black/40 rounded-sm overflow-hidden shrink-0 transition-colors ease-in-out duration-300;

        .icon {
            @apply w-3 h-3 text-white opacity-0 transition-opacity ease-in-out duration-300;
        }
    }

    .label {
        @apply grow pl-4 text-16 leading-1_5 text-black;

        span {
            @apply text-red;
        }
    }

    .input {
        @apply hidden;
    }
}

.error {
    @apply text-red text-14 text-left mt-1;
}
