.wrapper {
    @apply w-full h-full fixed z-50 pointer-events-none inset-0 py-0 hidden;

    // Grid offset
    // @apply px-4;
    // @apply tablet:px-10;
    // @apply desktop:px-24;

    &.show {
        @apply block;
    }
}

.inner {
    @apply w-full h-full mx-auto grid;

    // Grid max width
    // @apply desktop:max-w-360;

    grid-gap: 0 var(--grid-gap);
    grid-template-columns: repeat(auto-fill, var(--grid-column));
    grid-template-rows: 1fr;
}

.column {
    @apply w-full bg-red bg-opacity-30;
}

.mainButton {
    @apply w-9 h-9 fixed flex items-center justify-center text-white bg-black z-[300] rounded-full overflow-hidden left-27 bottom-5 hover:scale-110 transition-transform ease-in-out duration-300;

    .icon {
        @apply w-5 h-5;
    }
}